#surface {
  display: flex;
  flex-direction: column;
}
#surface,
body,
html {
  height: 100%;
}

#container,
#root {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.inner-container {
  height: 100%;
  position: relative;
  z-index: 0;
}

#surface > #content {
  flex-grow: 1;
}

#content {
  position: relative;
  outline: none;
}
